[2017-12-16 15:01] chrislennon opened #3 "Update visual elements on FIAT/colour change"
When a user changes the FIAT currency for conversion after touchbar elements are added the existing elements should be removed.

This doesn't effect the JSON output, however does effect the visual effect of the application

[2017-12-16 15:02] chrislennon opened #4 "Add colour selections"
Currently the crypto touchbar elements all output to a standard orange (BTC) colour, the users should be allowed to change the default colour, or colour of each element individually.

[2017-12-16 15:13] chrislennon opened #5 "Layout of application"
Enhance the layout of the webapp, current ideas:

- Have touchbar element buttons instead of checkboxes
- use a grid layout with static width for the buttons
- uncrapify the fiat dropdown and export button
- Include links to BTT and jq

[2017-12-16 15:24] chrislennon opened #6 "Add simple `npm serve` for easier local development"
Currently canvg complains when loading the SVG files when running the html file directly in a browser. A simple work around is to serve the files on http e.g. `python -m SimpleHTTPServer 8080` and the application will then be available as http://127.0.0.1:8080/index.html

TODO: implement a simple npm serve and other tooling to assist in local development

[2017-12-16 15:39] chrislennon opened #7 "JS refactor"
Refactor some of the hack and slash JS that goes on within the application - make it more likely that other developers wont vomit at my implementation of this application :neckbeard:

[2017-12-16 16:02] #6 closed, assigned to chrislennon

[2017-12-16 16:14] chrislennon opened #9 "fix scroll within the webapp"
Currently if to many currencies are selected within the webapp the apple icons (volume etc.) will progress down the screen.

Implement a proper scrolling element for the middle section of the touchbar to represent a closer feel to the apple touch bar.

[2017-12-16 18:55] #5 closed, assigned to chrislennon

[2017-12-16 18:55] #9 closed, assigned to chrislennon

[2017-12-16 20:25] chrislennon opened #12 "Implement prebuild steps for GH-pages"
remove logic for submodules and implement static prebuild steps for svg/webfont to a dedicated branch as part of npm as it now looks inevitable now that npm packages are going to become a persistent part of the project.

https://www.npmjs.com/package/gh-pages
https://www.npmjs.com/package/font-awesome-svg-png
https://www.npmjs.com/package/cryptocoins-icons

[2017-12-16 21:17] chrislennon opened #13 "Implement Dynamic Build of Coin List"
Coin list may be dynamically generated from API https://www.cryptocompare.com/api/data/coinlist/

This may however bring in interesting considerations with coin icons and will build in a dependancy to external API to the app's load.

[2017-12-17 18:49] chrislennon commented on #12
PR #15
Adds GitHub-Pages deployment via npm run deploy.
Adds coin SVG's via npm instead of submodule
Adds fiat SVG package (not implemented in output)

[2017-12-17 23:20] #4 closed, assigned to chrislennon

[2017-12-18 10:15] chrislennon commented on #3
Updates should to the preview area should also include the colour updates

[2017-12-18 13:07] #3 closed, assigned to chrislennon

[2017-12-18 13:20] chrislennon opened #19 "Toggle for group"
Currently cyrpto elements are automatically included in a group.
The groups look as such:
![img_20171218_141547](https://user-images.githubusercontent.com/9197696/34107943-6184c240-e3fe-11e7-82bf-357526df5fe3.jpg)
The group consists of an icon (see last pending work on #12), 'Crypto' and 🤑.
this should be enabled for user configuration or be allowed to be disabled.

[2017-12-18 13:44] chrislennon opened #20 "Donation Addresses"
probably should add some donation addresses to the site/github repo on the off chance that people find this useful. 🤑

[2017-12-18 14:31] chrislennon commented on #13
1895 coins are returned from the API, with no obvious sorting parameter... some thought required on this 😟

[2017-12-19 14:15] chrislennon opened #21 "Issues with IOTA-alt And ETC-alt Icon"
For some bizarre reason Ripple and Ethereum icons are exporting to be squashed, despite being generated by identical code.

[2017-12-19 14:22] chrislennon opened #22 "Add import instructions for BTT to readme and homepage"
^ do that

[2017-12-19 19:45] chrislennon commented on #19
closed by #23

[2017-12-19 19:45] #19 closed, assigned to chrislennon

[2017-12-19 22:19] chrislennon commented on #20
closed by f371bddb915b988d85567151a0cc68bdff68e133

[2017-12-19 22:19] #20 closed, assigned to chrislennon

[2017-12-19 23:00] chrislennon commented on #22
closed by 7100978bdf62f35c9cac170cd478e46fb849b436

[2017-12-19 23:00] #22 closed, assigned to chrislennon

[2017-12-19 23:01] chrislennon commented on #12
closed for now, further work to be looked at in #7 regarding the use of svg (in particular fiat)

[2017-12-19 23:01] #12 closed, assigned to chrislennon

[2017-12-20 14:24] #7 closed, assigned to nobody

[2017-12-20 14:57] chrislennon opened #25 "Exporting Multiple Jsons can cause issues"
Found a small (yet annoying) issue where if change the group toggle box on/off/on and export each time you toggle the value - the group on the 3rd export will not work and will have the icon set that was destined for the group.

[2017-12-22 10:01] chrislennon opened #26 "remove jq dependancy"
jq install has annoyed a few users, try to remove this and parse with OS specific tools

[2017-12-22 11:12] #25 closed, assigned to BJJLangedijk

[2017-12-22 13:10] #26 closed, assigned to chrislennon

[2017-12-24 11:02] chrislennon opened #29 "Attach action to crypto touch elements"
Currently the crypto elements spawn a popup asking to open a null URL. This action should either be removed or go somewhere useful.

[2017-12-25 19:59] chrislennon opened #31 "Rename download file (data.json) & Import Name"
Download file is currently called data.json - could be something more useful.

File imported is called `Crypto-Touchbar-App` - I have been renaming mine locally to `Crypto-Touchbar-App-USD` etc. Should probably put this in the codebase for people who use multiple imports.

[2017-12-25 20:38] #29 closed, assigned to chrislennon

[2017-12-25 20:44] chrislennon opened #32 "Goto selected exchange on tap"
Add optional functionality to go a given exchange on tap of the crypto currency element.

[2017-12-25 20:47] chrislennon opened #33 "Add default colours for each coin"
Coins typically have a default colour. Currently all colours are set to a BTC style orange.

Add to the coins.js a colour preset that will populate on load of the coins list.

[2017-12-25 20:48] chrislennon opened #34 "Add checkbox for light/dark icons"
Currently all currency icons are output in white (except a few manually added ones - BCG etc.)

Look to add either a light/dark checkbox or an additional colour picker per coin for the coin's symbol.

[2017-12-25 23:31] #31 closed, assigned to nobody

[2017-12-25 23:31] #33 closed, assigned to nobody

[2017-12-25 23:56] chrislennon opened #37 "add coin: REQ"
as requested on [reddit](https://www.reddit.com/r/Bitcoin/comments/7m10a5/customisable_crypto_price_tracker_for_mac_touchbar/drr9bwr/?context=3)

[2017-12-26 00:01] #37 closed, assigned to chrislennon

[2017-12-26 16:58] chrislennon opened #39 "Add AION to the coin list"
as requested on [this](https://www.reddit.com/r/Bitcoin/comments/7m10a5/customisable_crypto_price_tracker_for_mac_touchbar/drs27qy/) reddit comment, add [AION](https://www.cryptocompare.com/coins/aion/overview) to the list

[2017-12-26 17:08] #39 closed, assigned to chrislennon

[2017-12-26 17:38] chrislennon opened #41 "Switch API call from `pricemultifull` to `generateAvg`"
From a brief read over [the API](https://www.cryptocompare.com/api/#) I am using the `pricemultifull` which will respond with the latest data received from any given exchange.

This could mean that the price may fluctuate significantly even inside the touch bar - i.e. BTC - GDAX price is received and then on refresh BTC - Kraken price is received.

Two ways could be used to combat this:
- look int

[2017-12-26 22:01] chrislennon commented on #41
Comparing the API responses, found the following:

https://min-api.cryptocompare.com/data/pricemultifull?fsyms=BTC&tsyms=USD
- Latest data retrieved from exchange

https://min-api.cryptocompare.com/data/generateAvg?fsym=BTC&tsym=USD&e=CCCAGG
- Typo from documentation `markets` -> `e`
- `fsyms` -> `fsym` & `tsyms` -> `tsyms`
- Average price from `CCCAGG` (CryptoCompare Current Aggregate)

One issue

[2017-12-26 22:15] chrislennon commented on #41
On further reading of the API it looks like that CCCAGG is being used regardless of the exchange's submitted data on price as such the averaging should already be taking place.

My best guess so far is that unless, we look to implement 'preferred exchange' selection by the user, will always suffer against exchange price differential. Shall pick this up when looking at the feasibility of the prefer

[2017-12-26 22:49] chrislennon commented on #13
Some further thought on this...

- UI will need a refactor for this, there is no way displaying ~1900 coins is a sensible way forward
- Make use of something like [selectize](https://selectize.github.io/selectize.js/) to provide a searchable dropdown
- On selection of the item from dropdown add it to the main window & touchbar and provide colour change functions

Pros:
- Will provide a lot of futu

[2017-12-27 23:03] chrislennon opened #44 "original coin removed when duplicate added from list"
Silly bug:
- Add Bitcoin from search menu (it already exists on the top list)
- New Bitcoin appears
- Delete Bitcoin from search list
- Original Bitcoin (with icon) gets deleted

... FML

[2017-12-28 10:12] #13 closed, assigned to chrislennon

[2017-12-28 10:13] #34 closed, assigned to nobody

[2017-12-28 17:03] chrislennon commented on #21
From [this](https://www.reddit.com/r/CryptoCurrency/comments/7mlvld/custom_crypto_price_tickers_for_mac_touchbar/drv8vxo/) reddit comment - apparently the icon issue is with IOTA (too/instead of Ripple)

[2017-12-28 17:15] chrislennon commented on #21
I suspect the issue is the same issue as described in this issue https://github.com/allienworks/cryptocoins/issues/84

Confirmed to be experiencing it with `ETC-alt.svg` and `IOTA-alts.vg` - Will PR if I can pin the issue down. No issue with Ripple/XRP (will correct title).

[2017-12-28 17:21] chrislennon commented on #21
Confirmed, adding `width="226.8" height="226.8"` to the two icons fixes the issue. Will investigate any other coins that have this issue, patch it locally and submit a PR if possible.

[2017-12-28 17:41] chrislennon opened #45 "Ordering of Icons reported to be incorrect"
A [user report](https://www.reddit.com/r/CryptoCurrency/comments/7mlvld/custom_crypto_price_tickers_for_mac_touchbar/drva8m3/) has stated that the ordering of the icons doesn't seem to be functioning appropriately.

Investigate what is going on with this. Work around for now is reordering inside BetterTouchTool after import.

[2017-12-28 18:24] chrislennon commented on #21
Issue patched in local version of application, [PR](https://github.com/allienworks/cryptocoins/pull/126) submitted to creators icon pack.

Closing issue.

[2017-12-28 18:24] #21 closed, assigned to chrislennon

[2017-12-28 19:17] chrislennon opened #46 "comma separator for thousands"
from [reddit](https://www.reddit.com/r/xmrtrader/comments/7mm6a0/custom_crypto_price_tickers_for_mac_touchbar/drvgpik/): add comma separation for thousands. i.e. $13,778.30 instead of $13778.30

[2017-12-28 23:03] chrislennon opened #47 "Portfolio "tracking""
Add an optional 'point in time' selection to the web-app and create static outputs of price for that specified time.

To investigate:
- API source for one time or continual (but why?!) checking of the historic price.
- How to layout the elements:
  - Single element, append datetime. i.e. $1000 - 29/12/2017 00:00
  - Grouped element, show datetime as group name.

suggestion source: [reddit](https:/

[2017-12-28 23:14] chrislennon opened #48 "append (custom/derived) variance to output"
Show the price with a variance appended to the output, 3 options:
- User defined percentage
- Derived price 'gap' (highest sale - lowest sale)
- Derived -/+ % change
- 'Change' Window:
  - 1h/4h/12h/1d/1w/1m

Ways of displaying each of above:
- Actual values: `$1000 +$1100 -$900`
- Change values: `$1000 +$100 -$100`
- Percentage Values: `$1000 +10%`

suggestion source: [reddit](https://www.reddit.

[2017-12-28 23:59] chrislennon commented on #48
As a work around (comment asked to add/subract 5% from the price).
You could change the script from inside BetterTouchTool - click the crypto element, then 'Advanced Configuration' at the button.

Change an example script like this:
[code]
to this:
[code]

[2017-12-29 10:54] BJJLangedijk opened #49 "Currency graphs"
Show the currency graph/trend with some meaningful values attached.

![pasted image at 2017_12_29 11_47 am](https://user-images.githubusercontent.com/1398409/34435536-ad6ed70c-ec8e-11e7-9be5-962dbe561739.png)

* Trend of coin
* Percentage of change
* Actual coin value change based on the currency set for that coin

This graph could be shown whenever the user clicks on a coin.

[2017-12-29 11:05] chrislennon commented on #49
Idea looks very nice indeed. Some initial thoughts.
As we are (currently) outputting to BetterTouchTool, the options we have are:

- build these charts in native applescript... (lol i doubt it)
- `do shell script` and do this in bash, doubtful
- `do shell script python -c 'import....'` and offload the work into python (or any other tool), I think this approach has more legs - however we will likel

[2017-12-30 13:18] chrislennon opened #51 "BitConnect Incorrect value"
Noticed in testing of new functionality BitConnect (BCC) is pulling the wrong values. Ticker should likely be `BCCOIN` https://www.cryptocompare.com/coins/bccoin/overview/USD

[2017-12-30 13:23] chrislennon commented on #47
f251eb9 makes a start on what is required for historical based pricing.

Still TODO:

- UI for date/time picking
- Populating the correct API call with the datetime selected
- Parsing the response from API for the correct datetime selected
- Modifying (and forcing?) grouping functionality to show datetime selected

[2017-12-30 15:12] chrislennon commented on #47
caae9bfc0573bae0b6c59284f2bea9a7c65d9ccf implements:
- UI for picking
- population of API call and response
- Forcing grouping

Probably need to think about styling and timezones (urgh -.-)
![img_20171230_160821](https://user-images.githubusercontent.com/9197696/34455299-3bcd89a6-ed7c-11e7-986a-9509d7367e55.jpg)

[2017-12-30 16:04] chrislennon commented on #49
Been thinking about this again, and whilst I like the idea I'm not sure we will be able to implement it - at least inside BetterTouchTool, if we ever took the plunge of building a native app, would be a different story

The problem I think resides within the fact we would need to make use of the 'Icon' of the touch bar to show the chart (see [example attached](https://github.com/chrislennon/Crypto

[2017-12-30 16:32] chrislennon commented on #32
When enabling this, there should be a note to the user that not all exchanges support each trading pair.

List of exchanges to implement:
- GDAX - `https://www.gdax.com/trade/**CRYPTO**-**FIAT**` - [example](https://www.gdax.com/trade/BTC-USD)
- Bitstamp - don't seem to be able to hotlink any pair
- Kraken - lowercase `https://trade.kraken.com/kraken/**CRYPTO****FIAT**/1h` - [example](https://trad

[2017-12-30 16:45] #41 closed, assigned to nobody

[2017-12-30 16:49] chrislennon commented on #45
confirmed, issue is resulting from the fact, order is determined by ordering of the selection boxes, not the ordering within the preview.

[2017-12-31 11:50] chrislennon opened #55 "Implement User defined decimal places"
Some coins have a large number of decimal places - typically when their value is ~$1 or less.

Implement an override that the user can specify the maximum number of decimals before they export it.

[2017-12-31 12:14] chrislennon commented on #55
DOGE is a good example of this current output `$0.008232`.

Other thoughts:
- optional user defined number of decimals
- optional rounding to certain number of places.
- maybe implement a global 'number of significant digits'

[2017-12-31 12:32] #51 closed, assigned to nobody

[2017-12-31 12:34] #45 closed, assigned to nobody

[2017-12-31 13:33] #47 closed, assigned to nobody

[2017-12-31 15:43] #46 closed, assigned to nobody

[2017-12-31 15:43] #55 closed, assigned to nobody

[2018-01-06 11:44] #48 closed, assigned to nobody

[2018-01-06 11:46] chrislennon opened #58 "Documentation Additions"
- Add video/gif of usage and operation
- Add images to show different output types
- Update acknowledgements (and main site) to reflect API calls and source

[2018-01-06 13:34] chrislennon opened #59 "Add BTC as a conversion currency"
add BTC as a currency conversion option

requested on [reddit](https://www.reddit.com/r/Bitcoin/comments/7m10a5/customisable_crypto_price_tracker_for_mac_touchbar/ds9s15t/)

[2018-01-06 13:45] #59 closed, assigned to chrislennon

[2018-01-06 13:49] chrislennon opened #61 "BTC conversion (satoshis and Bits)"
Add alternate bitcoin conversions to the convert currency dropdown. BTC now exists however satoshi's and [bits](https://github.com/bitcoin/bips/blob/master/bip-0176.mediawiki) units should also exist.

[2018-01-09 09:13] chrislennon opened #62 "Bug in comma seperator"
looks like certain outputs are not being interpreted correctly for certain values and cannot input a comma to separate the thousands.

reported via this reddit [comment](https://www.reddit.com/r/CryptoCurrency/comments/7mlvld/custom_crypto_price_tickers_for_mac_touchbar/dse41oj/)

[code]

[2018-01-14 18:51] chrislennon opened #63 "Remove applescript logic"
BTT looks to be moving towards allowing shell script directly rather than looping it though applescript - https://twitter.com/boastr_net/status/952544253628076032.

This should provide us a few benefits:
- no more applescript - hell yeah! :tada:
- better handling of numbers and formats
- better access to other binaries and OS functions without jumping though loops

Thanks @fifafu! this is awesome

[2018-01-14 18:52] fifafu commented on #63
Sometime this week :-)

[2018-01-14 18:53] chrislennon commented on #63
alright, i'll get to work this week too and strip out the apple"script" 😉

[2018-01-14 19:09] fifafu commented on #63
Awesome, this should improve performance a lot.
I need to fix one remaining issue with the json export/import, then everything necessary should work. I'll do that later today.

[2018-01-14 20:53] fifafu commented on #63
2.324 alpha is now online and should contain everything necessary. One thing that might also be interesting is the possibility to import via btt:// links with base64 encoded json data like this:

btt://jsonimport/ew0KICAiQlRUV2lkZ2V0TmFtZSIgOiAiQXBwbGUgU3RvY2sgUHJpY2UiLA0KICAiQlRUVHJpZ2dlclR5cGUiIDogNjQyLA0KICAiQlRUVHJpZ2dlclR5cGVEZXNjcmlwdGlvbiIgOiAiU2hlbGwgU2NyaXB0IFwvIFRhc2sgV2lkZ2V0IiwNCiAgIkJ

[2018-01-14 21:05] chrislennon commented on #63
Perfect, updated to the alpha now and will probably start playing with the changes tomorrow.

The Base64 import is interesting indeed! Thanks for letting me know. Will likely include that as an option too.

I assume once imported the script is human readable again? I've seen a few comments on reddit (rightfully) paranoid about the scripts that are embedded, wouldn't like to hide anything from user

[2018-01-14 21:10] fifafu commented on #63
Chrome only allows custom urls via clickable links for some reason, not when entering them in the address bar. (Github didn't allow me to make the link clickable :-))

After importing it is readable again.

I also plan some sort of platform where presets can be shared and where I can mark the ones I checked as "trusted".

[2018-01-14 21:11] fifafu commented on #63
This should also work in Chrome via the addressbar:

[code]

//edit: actually chrome enforces the javascript: part at the beginning of the url to be entered manually, so pasting doesn't work. However it works fine when calling it directly via javascript.

[2018-01-14 21:15] chrislennon commented on #63
Love the platform idea, was thinking to approach you with something like that myself.

JS above doesn't work for me, but I get your point on chrome - will add the link import feature for sure 👍

[2018-01-15 11:42] chrislennon commented on #63
@fifafu I just attempted to add the `btt://jsonimport` to PR #64, it triggers the import, however nothing is successful (or fails) - just no output or change.

Is there any method I can use to debug the (I assume failed) import?

Currently #64 will `console.log` out the base64 string, after a decode and save to file this imports correctly, so I'm unsure where the issue sits.

Cheers!

[2018-01-15 22:46] fifafu commented on #63
@chrislennon ah sorry, it currently doesn't allow to import complete presets - only apps or triggers like this (can also be an array of triggers):

[code]
However I'll add preset import before the final release, so this should be ok.

[2018-01-19 23:13] fifafu commented on #63
I have just uploaded another alpha and your import button now works perfectly :-)

I'll probably ready the public release tomorrow. I'll mention your great project in the release notes if that's ok.

[2018-01-20 11:23] chrislennon commented on #63
Awesome! Gave it a quick test myself and looks fairly good, looks like I have a small issue on the emoji output when grouping as a button, and the currency symbol gets removed/mangled.

This only happens on the `btt://` import style - likely something to do with loss of utf8 and base64 conversions back and forth.

Will try to fix it soon - Will merge when you release and I've attempted a fix 🤓

As

[2018-01-20 15:14] fifafu commented on #63
The encoding issue seems to be on BTTs side. I'll upload another little fix in a few minutes.

[2018-01-20 15:20] chrislennon commented on #63
I suspected it might be but wanted to dig into it further before pointing fingers 👉

If you fix it, you're a ⭐️

[2018-01-20 20:50] fifafu commented on #63
I have now publicly released v2.331 and will slowly be rolling it out :-)
(Let's see whether everything works ok, otherwise I'll release another update tomorrow)

[2018-01-20 20:57] chrislennon commented on #63
#64 is working for me on stable v2.331
Seems to be faster too 👍

Merging and deploying now :shipit:

[2018-01-20 20:58] #62 closed, assigned to nobody

[2018-01-20 20:58] #63 closed, assigned to nobody

[2018-01-20 21:04] chrislennon commented on #63
@fifafu Thanks very much for this, thats it now live!

I noticed a couple of silly mistakes on my end which will hotfix out just now 🤐

[2018-01-21 10:52] chrislennon opened #66 "Add all coins that have an icon"
Request from [twitter](https://twitter.com/JimmyJPSnoek/status/954949163166334976) that coins that have an icon in the SVG package are not available in the app.

Add all available coin/icon pairs and fix the ordering of them, alphabetical by ticker?

[2018-01-21 14:21] chrislennon commented on #66
icons which i could not find a ticker for:

- BANX
- BC
- BFT
- DAO
- DGX
- ERC
- MRC
- SIA
- STR
- VPN

Had to truncate some names to ticker names because of styling.

Currently sorted by ticker, but mainly display the name - this can mean coins appear to be out of order.

[2018-01-21 16:03] chrislennon opened #68 "Tidy up main list - keeping icon & colour when available"
Current:
loads all coins from `coins.js` which have an icon and provides search for others that don't.

Todo:
Load top X coins from list, search for others - apply the colours and icons to all coins by matching on the ticker.

[2018-01-21 16:04] chrislennon commented on #66
The full coin list has grown to be slightly excessive loading it this way. to be fixed in #68

[2018-01-21 16:04] #66 closed, assigned to nobody

[2018-01-22 05:04] sutheep opened #69 "Redd Coin won't update"
Reddcoin won't update on touchbar. Shows an error.

Traceback (most recent call last):
  File "<string>", line 5, in <module>
ValueError: Unknown format code 'f' for object of type 'unicode'

[2018-01-22 08:35] chrislennon commented on #69
Confirmed, I get errors for redcoin when using either of the following options:
- Relative $ Range (-$000 / +$000)
- Change % based on opening (+10%)
- Relative % Range (-8% / +10%)
- Relative $ Range based on user percentage (-$000 / +$000)

The others appear to work. Will investigate and push a correction today.

[2018-01-22 08:46] sutheep commented on #69
Thanks Chris for the prompt response.

Regards,
Sutheep Singhsachakul

On Jan 22, 2018 15:35, "Chris Lennon" <notifications@github.com> wrote:

[2018-01-22 09:54] chrislennon commented on #69
@sutheep #70 should of now fixed this - and should now be deployed, I hadn't checked the 'advanced options' fully.

Give it a test see if you can replicate it - if you run into it again just let me know which coin and which settings (or a copy of the script) 😄

[2018-01-22 12:00] alexis-all opened #71 "Random display of "raw code" instead of crypto values"
I am using the Crypto Touchbar App tool for 2 hours now and I have seen several times this kind of bug instead of my favorite crypto-values (see picture)

![crypto](https://user-images.githubusercontent.com/35690037/35219722-0a7d584a-ff74-11e7-9b10-676b2353bc6f.jpg)

On this picture it appears instead of BTC value but it appears also on others crypto.
The raw code appears until the next auto-refre

[2018-01-22 12:02] chrislennon commented on #71
@alexis-all thanks for the bug report!

Which output format (advanced options) did you select?

I pushed a fix for something similar a couple of hours ago #69

[2018-01-22 12:08] alexis-all commented on #71
you're welcome ! Here is the code (for BTC but same for other crypto I've selected) :

[code]

Actually I've only set my parameters from the website then imported the .json to BTT :
- BTC, ETH, XRP
- in USD ($)
- Live price
- Limit decimals to 1
- Change % based on opening (+10%)
- Auto refresh set : 5 seconds

Hope it helps

[2018-01-22 12:13] chrislennon commented on #71
I see the code has my fixes from earlier so its not that.

The above runs locally too with no issue. Any chance you can open BTT, open the malfunctioning widget, run the script manually and send the error back?

I'm running the same settings on my touchbar now incase it is something strange being responded in the API (occasionally).

[2018-01-22 12:31] alexis-all commented on #71
After several times I managed to get the error by running the script manually in BTT, here it is :

[code]

[2018-01-22 12:35] chrislennon opened #72 "Better error handling"
when encountering errors in python either timeouts of bad listing of output, specify a better error output than a large error dump.

[2018-01-22 12:41] chrislennon commented on #71
ah ha! so its a python timeout error (I have raised an issue #72 to handle the error output better).

So this is an _interesting_ one, some steps to debug:
- I assume you have network access?
- Can you reach the API (checking in a browser will be fine) [BTC-USD](https://min-api.cryptocompare.com/data/pricemultifull?fsyms=BTC&tsyms=USD)
- You could also save the code to a file and execute it with `

[2018-01-22 12:44] chrislennon commented on #68
Coins data will be augmented into the multi-select search widget using customProperties.

Custom properties don't current seem to be exposed on the 'addItem' event, a PR has been made by @BJJLangedijk https://github.com/jshjohnson/Choices/pull/325

Current WIP branch for this is https://github.com/chrislennon/Crypto-Touchbar-App/tree/feature/display-tidy and pending the PR for Choices a hardcoded

[2018-01-22 12:51] alexis-all commented on #71
that's what I thought of just after responding. I also think it comes from my refresh time which is too short, my network debit rate is quite slow at the moment. I just set the refresh time to 30 seconds and it seems OK...

To answer : yes I have network access, and I can reach the api via Safari from your link.
I ran the code from python and get a correct value.

[2018-01-22 13:03] chrislennon opened #73 "Increase minimum refresh timer"
https://www.cryptocompare.com/api/# states that requests shouldn't be made more than once per 10 seconds, to honour this I should increase the minimum selectable time to 10/15 seconds.

[2018-01-22 13:04] chrislennon commented on #71
Alright, lets keep an eye on it and see if that resolves it 😃

Thinking about it - and reading the [api docs](https://www.cryptocompare.com/api/#) (which state don't request more than once per 10 seconds ), maybe I should restrict it so the tool doesn't allow low refresh times (#73).

[2018-01-22 14:18] #44 closed, assigned to nobody

[2018-01-22 14:18] #68 closed, assigned to nobody

[2018-01-22 14:18] #73 closed, assigned to nobody

[2018-01-22 14:46] TheBartoMan opened #75 "Does like £ or 2 decimal places in Pounds Sterling"
If you choose pounds sterling you get errors. It doesn't like the £ and also doesn't like if you set it to 2 decimal places.

[2018-01-23 06:25] sutheep commented on #69
Hi Chris,
  It’s still happening.
It’s REDDCOIN (RDD).

Also happening to a lot of alt coins.

Script:
import urllib2,json,sys

data = urllib2.urlopen("
https://min-api.cryptocompare.com/data/pricemultifull?fsyms=RDD&tsyms=USD")
obj=json.load(data)
current = "{:0,}".format(obj["RAW"]["RDD"]["USD"]["PRICE"])
opening = obj["RAW"]["RDD"]["USD"]["OPEN24HOUR"]
high = "{:0,}".format(obj["RAW"]["RDD"]["U

[2018-01-23 11:45] chrislennon commented on #69
Hey, thanks for the code (by the way can use 3 ` symbols to start and stop a code block).

Thanks to your response i think i see the issue. Looks like the formatting options are causing issues for certain coins - I'm going to dig into this soon to see if i can resolve it globablly.

However for now, in your example above it looks like unticking 'Separate thousands with commas' and keeping the deci

[2018-01-23 11:50] chrislennon commented on #75
Hey, yeah I've just replicated this. Looks like its mainly effecting the lower value cryptos, bitcoin works with those settings but many others don't.

For now changing the settings to infinite decimals seems to fix it. I will report back here with a fix that should fix the issues with formatting somewhat soon.

[2018-01-23 11:51] chrislennon commented on #72
as can be seen from #75 #71 #69 errors are creeping though, mainly around the formatting options.

Looks to handle timeouts, formatting errors better and expose them as smaller, easier to debug messages.

[2018-01-24 10:24] #69 closed, assigned to chrislennon

[2018-01-24 10:24] #71 closed, assigned to nobody

[2018-01-24 10:24] #72 closed, assigned to nobody

[2018-01-24 10:24] #75 closed, assigned to nobody

[2018-01-24 10:28] chrislennon commented on #75
This issue has been closed as part of #76.

After moving to python away from applescript there were a few issues regarding formatting options. This PR should resolve the issues going forward, please let me know if it works and of course if the issue continues reopen this issue and we can debug further.

[2018-01-24 10:28] chrislennon commented on #71
This issue has been closed as part of #76.

After moving to python away from applescript there were a few issues regarding formatting options. This PR should resolve the issues going forward, please let me know if it works and of course if the issue continues reopen this issue and we can debug further.

[2018-01-24 10:28] chrislennon commented on #69
This issue has been closed as part of #76.

After moving to python away from applescript there were a few issues regarding formatting options. This PR should resolve the issues going forward, please let me know if it works and of course if the issue continues reopen this issue and we can debug further.

[2018-01-24 10:30] chrislennon opened #77 "Unit Testing"
The formatting issues experienced within python (assumed to be resolved in #76) were a bit of a headache for users. The debugging it was also not as easy as it could of been on my end.

To implement - a way of testing the JS generation of python code, and the testing of the python code in a way that means I can be confident changes that are made apply to all coins/formats/output styles.

[2018-01-24 11:56] #77 closed, assigned to nobody

[2018-03-21 03:03] TomOnGit opened #79 "show market cap"
First; Thanks for making this!

Would be great if market cap would be included.

[2018-03-21 11:07] chrislennon commented on #79
@TomOnGit - No problem, thanks for using it!

My development is somewhat constrained as I no longer have a device with a touchbar 😅 but I believe this would be no problem to add (can see the 'MKTCAP' value in the [api](https://min-api.cryptocompare.com/data/pricemultifull?fsyms=BTC&tsyms=USD) I use).

Just to be clear of the request would you suggest/prefer something like:

`$9100 ($154,136,802,28

[2018-03-21 17:05] Marubozu opened #80 "Keep last price when no Internet connection"
Hi, thanks for such cool feature!

When a computer is not connected to Internet (bus, plane, etc.) or the connection drops, the currency label shows a long error message instead of the currency details (price, arrows, etc.).

Would it be possible to add a feature that would keep displayed the last price which was available before the connection dropped rather than displaying an error message that

[2018-03-21 17:45] chrislennon commented on #80
@Marubozu no problem, thanks for using it!

Yeah the errors received when offline aren't the nicest looking 😭  (as a side note this should probably be corrected regardless of this issue)

I will need to have a think on this one - my first thoughts - whilst I like the outcome, showing the last available price. I have two points I would need to work out before pushing it live:

- [x] Writing/reading

[2018-03-21 19:10] Marubozu commented on #80
Hi Chris, I was sure it would be more complex to develop that it seems! If I can be of any help though let me know, I'll be happy to help you.

[2018-03-21 21:01] chrislennon opened #81 "Random CSS issues"
So at some point it seems that scrollbars started appearing and it looks nasty, also box shadowing on the colour selectors.

No code changes since end of Jan, any ideas @BJJLangedijk ?

[2018-03-22 09:13] chrislennon commented on #81
Closing this brainfart ticket.

Turns out since I'm no longer using a Mac, the scroll on the touchbar preview looks janky as hell on windows. Since the tool is designed for Mac, this isn't really an issue.

[2018-03-22 09:13] #81 closed, assigned to nobody

[2018-04-07 21:00] jadwahab opened #82 "Cardano icon not showing"
Thanks for making this! Looks nicer and has more options than the previous one I had.
Just one issue, the ADA icon is not showing up and I don't how to fix it, any ideas?

[2018-04-07 21:13] chrislennon commented on #82
@jadwahab thank you for using it!

I see the cardano/ADA icon in the main selection screen, do you mean when you export it to BetterTouchTool you don't see the icon?

<img width="212" alt="ada" src="https://user-images.githubusercontent.com/9197696/38460398-37efcbf2-3ab9-11e8-8ab4-e2e2c004043b.PNG">

[2018-04-07 21:17] jadwahab commented on #82
Yupp, when I export it to BetterTouchTool it shows up as a white circle like in the pic below:
![img_5357](https://user-images.githubusercontent.com/15110087/38460426-5e790dea-3ab1-11e8-805c-4a53ff08e5cc.JPG)

[2018-04-07 21:24] chrislennon commented on #82
thanks for confirming this. I don't have a touch bar currently to test with.

I believe it could be related to this issue though https://github.com/fifafu/BetterTouchTool/issues/1034

I'm not 100% sure on a solution, but you could try changing the icon to be non-black/non-white, that may fix the issue

[2018-06-02 19:49] #58 closed, assigned to chrislennon

[2018-06-02 22:05] #79 closed, assigned to chrislennon

[2018-06-17 16:32] LegalPrimes opened #84 "Adding A Coin Icon"
The instructions for adding a custom coin icon are missing. Please add instructions so we can add our own coins.

[2018-06-17 16:43] chrislennon commented on #84
You are totally correct - I ended up travelling before I completed parts of my refactor.
Will probably complete this in the next 2-4 days.

In the mean time here are some very brief instructions.

To temporarily  a coin (listed in the list of 2000+ coins, but with no icon)
- Add an entry to the [data/coins.js](https://github.com/chrislennon/Crypto-Touchbar-App/blob/master/data/coins.js) file.
  -

[2018-06-19 18:18] chrislennon commented on #84
@LegalPrimes I have updated the [wiki page](https://github.com/chrislennon/Crypto-Touchbar-App/wiki/Adding-A-Coin-Icon) to reflect the steps for adding custom icons - manually, in the upstream icon repository and this project.

Let me know if I can assist further.

[2018-06-19 18:18] #84 closed, assigned to chrislennon

[2018-06-19 21:36] chrislennon commented on #80
Better late than never I guess... A recent refactor made this much simpler to implement.

Need to do some double checking but when #85 merges this should enable a limited form of caching to prevent errors whilst offline.

[2018-06-23 14:23] #80 closed, assigned to chrislennon

[2018-06-27 03:05] otaviobonder opened #86 "Add round parameter"
Hi, I think it's useful to add a setting in the webpage to let the user customise the rounding parameter. I've modified the code to round the % to 2 decimals:

[code]

I've made this because I thought it was strange to have the percentage changing from 1 to 1%.

Thanks and nice work!

[2018-07-01 17:33] chrislennon commented on #86
Thanks for the suggestion @otaviobps I have added it into #87 which should be merged shortly.

[2018-07-01 17:37] #86 closed, assigned to nobody

[2018-09-05 08:28] jrag0x opened #88 "Script return nothing w/ direct import and not displayed properly w/ JSON import"
I'm on MacOS High Sierra V10.13.6. / BTT v2.627

When I do a direct import to BTT,  no price is displayed in the BTC indicator on the touch bar. If i run the script imported from BTT, it returns "Error/Nothing was returned".

When I do JSON import, raw script code is displayed in the BTC indicator. If I run the script imported from BTT, I get the right price returned.

It happens no matter the adv

[2018-09-05 09:02] chrislennon commented on #88
@jragosa many thanks for the report, sorry that you are having issues.

What I can instantly see is that the directImport method is replacing `/` with `_` - I have also replicated this on my version.

I will investigate further as to why this is happening.

ping to @fifafu - is there any change in the BTT direct import functionality in the recent alphas that could be converting these characters?

[2018-09-05 09:12] fifafu commented on #88
Uh yes, I think I know what's causing this.
Will fix it later today, thanks for reporting!

[2018-09-05 09:23] fifafu commented on #88
Should work again in latest alpha!

[2018-09-05 09:36] chrislennon commented on #88
@fifafu looks like the import is correct (price appears correctly in the test pane of the code), however I'm seeing code output on the touchbar itself. It looks like python 'usage' syntax from the command line.

Can provide an image shortly if that assists.

[2018-09-05 10:00] fifafu commented on #88
New alpha online now :-D

[2018-09-05 10:09] chrislennon commented on #88
Im still only picking up v2.630(939) - is this correct?

Image attached of the output bug:
![img_20180905_113610](https://user-images.githubusercontent.com/9197696/45086900-91dd8700-b104-11e8-97eb-b3d249397b98.jpg)

[2018-09-05 10:11] fifafu commented on #88
Ah sorry the upload was stuck, it should now update to 2.631 940

[2018-09-05 10:21] chrislennon commented on #88
Confirmed!
Tested a new export from my tool to BTT 2.631 (940) using direct import function and operates as expected.

@fifafu - thanks very much for the rapid response!
@jragosa - If you wish to confirm on your side too, close the issue if you get success - would be awesome!

[2018-09-05 13:09] jrag0x commented on #88
Works for me with BTT 2.631!

[2018-09-05 13:09] #88 closed, assigned to nobody

[2018-09-09 23:08] Angel-Avila opened #89 "Using MXN doesn't work"
Using Mexican peso as the currency throws an error:

`Traceback (most recent call last):
  File "<string>", line 25, in <module>
KeyError: 'BTC'`

That message is thrown after doing:

The error message displayed on the buttons is too large to actually see

[2018-09-10 11:48] chrislennon commented on #89
@Angel-Avila thanks for reporting the issue, sorry to hear you are having problems.

I just checked the API (https://min-api.cryptocompare.com/data/pricemultifull?fsyms=BTC&tsyms=MEX) and it appears no price is being returned - I have reached out to CryptoCompare to ask if there is an issue on their end or if this is no longer a supported trading pair (in which case I will remove it from the tool)

[2018-09-10 19:03] chrislennon commented on #89
Well that's embarrassing - helps when I use the correct currency code... `MXN` not `MEX` as my code outputs 😅

https://min-api.cryptocompare.com/data/pricemultifull?fsyms=BTC&tsyms=MXN

corrected in 61d7a27 - fixed version live now!

[2018-09-11 01:33] Angel-Avila commented on #89
Lmao it happens dude
I tried it now but there's just 2 issues:

1. The imported buttons' launch pad is set to `_usr_bin_python` for some reason
2. The python script when run, gives some invalid syntax errors, seems like a bunch of `/` where transformed to `_` for some reason

This *only* happens when importing directly to BTT, when you download the JSON and then import it, it doesn't

Btw: sorry f

[2018-09-11 07:41] chrislennon commented on #89
No problem I wont be criticising after what I did 😂

I believe the issue you describe has been fixed in a later BTT alpha version - see [here](https://github.com/chrislennon/Crypto-Touchbar-App/issues/88#issuecomment-418655263) for a similar discussion - close the issue if you get it working 😄

[2018-09-11 08:00] chrislennon opened #90 "Fix deployment/packing method"
Upon making a 2 character correction for a currency code, it came flooding back as to how unwieldy the deployment process is for this web-app.

Produce a version that can still deploy to GitHub Pages, but without including what seems like _every_ node_module.

Given recent experience with webpack, this is probably a sensible route.

[2018-09-11 14:44] Angel-Avila commented on #89
I thought it was somewhat related to the fix you did, but I see it wasn't. I updated to the latest alpha version and the issue is fixed (currently in v. 2.636).

Thanks man, I appreciate it!

[2018-09-11 14:44] #89 closed, assigned to nobody

[2018-10-04 23:51] ticky opened #91 "“FIAT” is not an acronym unless you’re talking about cars"
cf.: [Fiat money on Wikipedia](https://en.wikipedia.org/wiki/Fiat_money), [Fiat Automobiles on Wikipedia](https://en.wikipedia.org/wiki/Fiat_Automobiles)

[2018-10-05 07:52] chrislennon commented on #91
Hey @ticky thanks for raising this issue - you're completely correct I don't provide a conversion to a number of FIAT cars 😂

Was originally a reference to fiat money and for unknown reasons was changed to FIAT. As this tool has changed over time, even using the term fiat money would probably be incorrect - some of the conversions aren't fiat monies and some of the coins are acting as fiat monies.

[2019-02-27 02:38] Cryptotrader10 opened #92 "Crypto Touch Bar Wrong price/ Not Updating"
2/26/2019 Price on the touch bar isn't the correct price Not updating.

Thank You

[2019-02-27 07:29] chrislennon commented on #92
@Cryptotrader10 thanks for raising the issue. I will investigate soon. Some question below which may help me pinpoint the issue.

To be clear:
- is the price failing to update? is this fixed by restarting BetterTouchTool?
- is the price just plain incorrect, but updates?
- Which version of BetterTouchTool are you using (mainly if stable or alpha)

[2019-03-07 16:36] Cryptotrader10 commented on #92
The price for BNB is off, current price is $15.27 but it shows $20. It does update just wrong data. Im using Alpha. Thank You

[2019-03-07 20:40] chrislennon commented on #92
@Cryptotrader10 I see! I believe this issue occurs in the way that the currency API works for this tool. Under the hood I implement the API from [cryptocompare](https://min-api.cryptocompare.com/) - since not all coins are listed on every exchange, they implement an average or preference for all the prices they see.

In the example of BNB you can see the exchanges (and their price) for each - at t

[2019-03-07 21:20] Cryptotrader10 commented on #92
Yes it worked, Thank You so much.

[2019-03-09 10:37] #92 closed, assigned to nobody

[2019-03-13 09:31] fh-d opened #93 "add CRO to the list"
Nice tool here,  you just convice me that the touch bar can be cool.
can you add the CRO coin ?

[2019-03-13 09:48] chrislennon commented on #93
@fh-d thanks for the compliment!

I believe if i'm looking at the correct coin it should already be supported. You will need to search the full name though `Crypto.com` (by token would be a nice feature - will flag that now)

Let me know if that works for you!

<img width="459" alt="Screenshot 2019-03-13 at 10 47 49" src="https://user-images.githubusercontent.com/9197696/54269335-7ce32400-457d-11e

[2019-03-13 13:04] fh-d commented on #93
@chrislennon hey! thanks for this quick response.
En fait
In fact i was thinking about the crypto.com chain token ( whis is CRO ). Crypto.com token ( previously MCO token ) is the one used for the ICO, CRO is for the project itself.

[Crypto.com](https://coinmarketcap.com/currencies/crypto-com/)  - MCO
[Crypto.com Chain](https://coinmarketcap.com/currencies/crypto-com-chain/)  - CRO

unfortunately

[2019-03-13 13:09] chrislennon commented on #93
@fh-d yeah that seems to be exactly the problem, if its not on CryptoCompare I wont have access to any data.

Luckily no changes from me will be required - when its available on CryptoCompare it will instantly appear within the list 😄

[2019-05-10 12:11] chrislennon commented on #93
looping back here seems like CRO was added to the API at some point in the last few months 🕺

[2019-05-10 12:11] #93 closed, assigned to nobody

[2019-06-21 23:39] alisalihoglu opened #94 "Non of the icons are showing"
<img width="1085" alt="Touch Bar Shot 2019-06-22 at 12 38 38 AM" src="https://user-images.githubusercontent.com/52089320/59956109-217ed700-9486-11e9-8f62-f637c82056de.png">

[2019-06-22 09:10] chrislennon commented on #94
Thanks for raising this @casuallyprivate - unfortunately I have been unable to replicate it.

Could you let me know the following so I can try to assist?
- Which version of BetterTouchTool
- Which browser used to generate
- Which mechanism for import you used (JSON or direct import)

I tested on BTT 3.085(1193) in Chrome with the direct import method.

[2019-06-22 09:11] chrislennon commented on #32
Closing Stale

[2019-06-22 09:11] #32 closed, assigned to nobody

[2019-06-22 09:11] #49 closed, assigned to nobody

[2019-06-22 09:12] #91 closed, assigned to nobody

[2019-06-22 09:12] #61 closed, assigned to nobody

[2019-06-22 09:13] chrislennon commented on #82
Closing stale - though I believe this issue still persists but is an issue with BTT

[2019-06-22 09:13] #82 closed, assigned to nobody

[2019-06-22 09:28] alisalihoglu commented on #94
Hi,
Thank you for the response.

- BTT version 3.085(1193)

- Brave Browser

- JSON

[2019-06-22 09:51] chrislennon commented on #94
How strange, just tested in Brave with JSON and direct import and I still have icons. Trying to think of other ways to debug 🤔

Are the icons appearing inside the BetterTouchTool, even if not showing on the touch bar?

Maybe could upload the exported JSON - may be able to identify what is wrong there, however may still not be able to determine what why it is being generated wrong 😟

[2019-07-18 09:02] alisalihoglu commented on #94
Hi,
Sorry for the very very late reply :(...
I have downloaded another JSON file like 5 minutes ago. It still does not have the icons. I'm thinking maybe there is a problem with my settings.
Here is the file.
[Crypto-Touchbar-App-USD.json.zip](https://github.com/chrislennon/Crypto-Touchbar-App/files/3405683/Crypto-Touchbar-App-USD.json.zip)
Thank you!

[2019-07-20 11:37] chrislennon commented on #94
@casuallyprivate - interesting! Can see from the JSON file that indeed the icon data isn't exported.

Not sure on how to proceed if I am honest seems tricky to replicate.

In the mean time here is the same coins I believe you wished with the icon data embedded

[Crypto-Touchbar-App-USD.json.zip](https://github.com/chrislennon/Crypto-Touchbar-App/files/3413540/Crypto-Touchbar-App-USD.json.zip)

[2019-07-22 10:06] alisalihoglu commented on #94
Maybe it is due to Brave browser, or the add-ons I'm using...

[2020-01-28 15:23] #94 closed, assigned to nobody

[2020-03-25 09:42] crino85 opened #95 "Not working now"
No Crypto available

[2020-03-25 11:41] chrislennon commented on #95
Hey @crino85 - could you provide me more information - as to where you are not seeing any crypto displayed?

I have just checked the [webpage](https://chrislennon.github.io/Crypto-Touchbar-App/) and the scripts on BetterTouchTool and they seem to be working. I am testing on Chrome (version 80.0.3987.149) and BTT (version 3.182).

[2020-04-19 07:50] Marubozu commented on #95
Hi Chris, yesterday evening, the script stopped working for me too. I gave it the night to see, and same thing. By checking the [webpage](https://chrislennon.github.io/Crypto-Touchbar-App/) you mention, I can see that all currencies are gone.
I am using:
- Chrome 81.0.4044.113 (Official Build) (64-bit)
- BTT 3.346
- MacOS 10.15.4

Not sure what happened. I am attaching 2 screenshots, let me know i

[2020-04-19 10:05] chrislennon commented on #95
@Marubozu an interesting one! I'll focus on the web-app as its probably the same reason the touch bar is not working.
I am running the same mac and chrome versions as you and I get around 4600 coins returned.

Are there any errors in your [chrome developer console](https://developers.google.com/web/tools/chrome-devtools/open)?

To get the list of coins I make a query to [Cryptocompare](https://sta

[2020-04-19 11:08] Marubozu commented on #95
That should actually be the problem.

On the URL https://min-api.cryptocompare.com/data/all/coinlist I get the following message instead of the list of currencies (screenshot attached):

{"Response":"Error","Message":"You are over your rate limit please upgrade your account!","HasWarning":false,"Type":99,"RateLimit":{"calls_made":{"second":1,"minute":10,"hour":155,"day":713,"month":120792,"total_c

[2020-04-19 11:48] chrislennon commented on #95
@Marubozu Thanks for that, that error is certainly more illuminating!

As you have already determined, you are hitting the public API limit - specifically the monthly quota.

I can think of few approaches:

1. Reduce the number/frequency of requests
  - number of coins, frequency of update etc
  - all requests (from your public IP - so including other machines on your network) using both BTT and m

[2020-04-22 07:55] Marubozu commented on #95
Hi Chris, thanks so much for your help, I manage to solve the issue by following your advice! I hope this will help someone else too someday. Thanks also for making such great app!

[2020-04-22 14:00] #95 closed, assigned to nobody

[2020-07-28 19:40] chtmorris opened #96 "Display error: Traceback (most recent call last)"
I'm getting a display error. Each asset is displaying:
_Traceback (most recent call last):_

Love the tool. A fix would be great!

[2020-07-28 20:00] chrislennon commented on #96
Hey @chtmorris thanks for the report. Could you open up BetterTouchTool, select one of the widgets and on the right hand side select `run script now` (red in screenshot) - if you can provide me with the whole error message (green in screenshot) I should be able to assist (The display is truncated on the assets itself)

<img width="1521" alt="Screenshot 2020-07-28 at 21 57 35" src="https://user-ima

[2020-07-29 15:00] chtmorris commented on #96
Hey @chrislennon! Thanks for getting back to me so quickly. The error says:

Traceback (most recent call last):
  File "<string>", line 25, in <module>
KeyError: 'RAW'

[2020-07-29 15:26] chrislennon commented on #96
Very interesting @chtmorris - and slightly confusing 😅

Looks like there is no data coming back from the API (it cant find any data in the `RAW` field). Might be quite hard to debug, however you could try going to [this link](https://min-api.cryptocompare.com/data/pricemultifull?fsyms=BTC&tsyms=USD) (the default link we get data from) which may tell you more.

I have a hunch that the server is goi

[2021-01-06 19:50] xLinkOut opened #97 "ERR_INVALID_CHAR when browse localhost:8080"
After `npm install` and `npm start` the webserver starts normally
[code]

But when browse http://0.0.0.0:8080  the server crash with:
[code]

I managed to get it to work commenting line 248 in `sexstatic.js`
[code]

(node 15.5.1 / npm 7.3.0)

[2021-01-06 19:54] xLinkOut opened #98 "Deprecation and (high) vulnerabilities"
[code]

[2021-01-07 09:16] chrislennon commented on #98
Hey @xLinkOut, thanks for letting me know about this. As you may see I haven't updated this project in quite a while. Honestly, I didn't expect many people to be working with the code side of it, and more the web page.

Since this project is way overdue for some minor maintenance, I will look into this some point soon.

[2021-01-07 09:17] chrislennon commented on #97
Hey @xLinkOut thanks for that, further to my comment [here](https://github.com/chrislennon/Crypto-Touchbar-App/issues/98#issuecomment-755989748) I suspect this is due to the node version. When I get around to any updates I'll check the compatibility with newer node versions - If I recall this was targetting 10.x or 12.x

Thanks once again

[2021-01-07 11:47] xLinkOut commented on #98
Hi! I understand. Yesterday I was messing around with BetterTouchTool and I found your Crypto-Touchbar (I'm not into crypto but I was attracted by the colors on the touchbar). For curiosity, I came here to read how the Python script that get crypto works. I'm a Python developer and want to help: expect a pull request for the `crypto_price.py` script. Maybe I can do something for the frontend too.

[2021-02-25 00:01] mickyunstuck opened #100 "Widget error"
Hi there,

First of all I LOVE your widget, it has finally put the touchbar to good use haha!

I set it up a few days ago and it was working nicely but yesterday it dropped out and returned an error, then was working again hours later, today the same thing however it never came back to life. Here's what it says:

[code]

If you have the time, mind taking a look at this?

Oh! **Live update**: it ju

[2021-02-25 00:53] mickyunstuck commented on #100
Oh, just saw that a comment with the same error message had been posted already, sorry about the duplicate! Were you guys able to figure out what caused it? Thanks again!

[2021-02-25 06:49] chrislennon commented on #100
Hey @mickyunstuck thanks for reaching out, great to hear you get use from it! Sorry for the cryptic error message, I always intended to make that more visible - but haven't got around to refactoring the code in a while.

I think what is happening with your issue is I believe a rate limit by the provider of the prices. [This issue](https://github.com/chrislennon/Crypto-Touchbar-App/issues/95#issuec

[2021-03-01 23:50] mickyunstuck commented on #100
Hi Chris,

Thanks for your kind reply! That did the trick, I guess I was too eager to
stay up to date on BTC values haha!
Thanks so much, that'll make me miss the touchbar on the upcoming MBP
models :D

Have a great day!
Miro

On Wed, Feb 24, 2021 at 10:49 PM Chris Lennon <notifications@github.com>
wrote:

[2021-03-13 20:30] 0xthaner commented on #100
Hey, i have the same issue - but the crux is i also cant download a new BTT because your page do not show me any currencies to choose? 😳
Maybe i do something wrong?

[2021-03-13 21:27] chrislennon commented on #100
Hey @paranoidnakamoto which browser are you using? I seem to be able to see and select coins using Chrome on Mac. Perhaps a screenshot of what you are seeing may help.

[2021-03-13 22:20] 0xthaner commented on #100
Hey @chrislennon thanks for your answer :)
I use Brave - Chrome - and Safari and i can not select any CC for the direct download for BTT and the TB says:

`**Traceback (most recent call last)
File "<string>", line 25, in <module>**
`
The browsers shows me this:

<img width="1680" alt="Bildschirmfoto 2021-03-13 um 23 13 47" src="https://user-images.githubusercontent.com/59724145/111051331-919b7080-

[2021-03-13 23:38] chrislennon commented on #100
thanks @paranoidnakamoto could you try going to [the cryptocompare API ](https://min-api.cryptocompare.com/data/all/coinlist)to see if you are getting any data, if you are being rate limited, i suspect you may see an error there. It could be very possible rate limiting from the touchbar could also effect the list of coins received from them.

[2021-03-14 19:53] 0xthaner commented on #100
Hey @chrislennon,
very strange - now suddenly it works without any api "cryptocompare" check via BTT 🤔
But thanks for your help! I bookmark this issue for the next time. ^^

Have a nice week bro! and thanks for your nice Work

[2021-03-18 11:08] awkwardsky commented on #100
Hello @chrislennon , I have the same issue.
`
Traceback (most recent call last)
File "<string>", line 25, in <module>
`
when I'm going to [the cryptocompare API](https://min-api.cryptocompare.com/data/all/coinlist)
I get the response
[code]
thanks for you time.

[2021-03-18 12:18] chrislennon commented on #100
Hey @awkwardsky thanks for reporting this and taking the time to check the Crypto Compare API too.

Looks like you are falling into the rate-limiting imposed by this API too, specifically the one stopping you above would be the daily calls. Their limit `7 500` where your IP (I believe this is their metric) has requested `11 204`.

My advice would be to turn down the request time on each currency p

[2021-03-18 13:48] awkwardsky commented on #100
thx for immediately to reply.
I think you are right about calculation the “lots of call”
Because, I use your amazing app, just one day and little more.

---
my preference below:
refresh interval: 1 times/10s
number of token: 5
2 days = 17280 times
calls = (17280 times *5 token)*another one device in the same network ≒  136537

---
btw, another one device almost occurred the issue at the same time.

[2021-03-20 10:30] chrislennon commented on #100
Hey @awkwardsky sorry for not getting back to you sooner. With regards to the calls not adding up to `136 537`, I suspect (but not 100% sure) that this number relates to all calls made to the API (likely from that IP address). For example, these could have been calls from other devices or calls made in previous `month` buckets.

With respect to the month's max calls, yeah their public (IP based) r

[2021-03-22 03:09] awkwardsky commented on #100
Hey @chrislennon

I reducing the refresh rate, to
"Always run when widget becomes visible."
&
"Execute script every 3600 seconds."

My widget setting is not always visible, it's visibility when i pressed the specific key.
but I'm not sure
the calls calculate in one day = my all pressed times * number of coin pairing widgets
or
the calls calculate in one day = (my all pressed times + 24 times) * nu

[2021-03-23 11:24] benzidirk commented on #96
Hi I get the same error everytime I enable my VPN. Is there a workaround?

[2021-04-16 23:37] HoneyGoodspeed opened #101 "Displaying Digital Coin Values on Touch Bar Screen"
Hi Chris,

Love the app. My apologies for being a total newbie here. I currently use the btt app to display bitcoin, ethereal and bitcoin cash on my touch bar. I want to add dogecoin. I thought it would be as simple as copying the information over from one of the coins that works and replacing the code with DOGE but I can not get it to display correctly only my Touch Bar. Any help you can offer wo

[2021-04-17 00:40] chrislennon commented on #101
Hey @HoneyGoodspeed I too thought you could have added doge by changing the code - I think that is all that changes when you export it from the tool, To double check could you try exporting dogecoin straight from the [webapp](https://chrislennon.github.io/Crypto-Touchbar-App/)?

 You may need to search for this in the bar below as for some reason its not listed on the top 😅

![image](https://user-

[2021-04-17 13:07] HoneyGoodspeed commented on #101
Thanks for your amazingly fast response with easy and quick fix. Thank you! Thank you!

[2021-04-17 13:07] #101 closed, assigned to nobody

[2021-04-17 14:56] chrislennon commented on #101
Hey @HoneyGoodspeed - great to hear that this worked for you, and don't worry no issue about being a newbie here!

P.S. - If you customised that doge icon, looks great 😄

![image](https://user-images.githubusercontent.com/9197696/115117210-bfb62800-9f9d-11eb-969c-6007639d14f7.png)

[2021-09-06 18:24] RexYuan commented on #96
Hey there I get the API lock too. Cryptocompare gives

[code]

[2021-10-19 19:12] chrislennon commented on #96
Apologies for missing notifications on this.

@benzidirk - there is likely other users on your VPN (assuming its public/semi-private) using Cryptocompare's API which will be adding to your quota (by IP).

@RexYuan - As the error says you are also hitting the quota that CryptoCompare has set up.

To both of you - there is some potential workarounds you may wish to try over on [this comment](https:/

[2021-10-19 19:12] #96 closed, assigned to nobody

[2021-10-19 19:13] #100 closed, assigned to nobody

[2021-10-19 19:14] #90 closed, assigned to chrislennon

[2021-12-22 16:18] JD-007 opened #102 "Traceback (most recent call last) Error on CryptoTouch Bar"
Hey Clennon! I just bought the membership for Better Touch Tools only for use of your CryptoTouchBar. but it has been always breaking, I updated the latest version but still am facing this issue [ Traceback (most recent call last): File "<string>', line 25, in <module>]. I think something wrong here in this code line, can you please make a patch fix! THanks

[2021-12-22 16:31] chrislennon commented on #102
Hey @JD-007 thanks for reaching out - from some similar reports I believe this typically comes from issues around the APIs rate limiting. If you can check through the details of #100  specifically the directions to check the CryptoCompare API correctly, believe that will show us the error

[2021-12-22 17:02] JD-007 commented on #102
Thanks for the prompt reply!  I'll look into this now!  I have just signed
up & got the API key, Now I will look forward to BTT app so where I can
replace the API Key,  Should I have to change API Key for each Coin
script?  Thanks mate

On Wed, Dec 22, 2021 at 9:31 PM Chris Lennon ***@***.***>
wrote:

[2021-12-22 17:07] JD-007 commented on #102
[image: image.png]

I have just reached out here but I don't know where to add api key?
        url = "
https://min-api.cryptocompare.com/data/pricemultifull?fsyms={}&tsyms={}".format(coin_ticker,
fiat_ticker) <== Right here at the end or after &tsysm={}"  -

Thanks

On Wed, Dec 22, 2021 at 10:01 PM Malik Junaid ***@***.***>
wrote:

[2021-12-22 18:25] chrislennon commented on #102
Hey @JD-007 unfortunately until I make any changes for users to have the script template append in a users API key (if they chose so) it would be a manual addition to each script.

I covered some steps to do so [here](https://github.com/chrislennon/Crypto-Touchbar-App/issues/100#issuecomment-803287084) and the other users [reply](https://github.com/chrislennon/Crypto-Touchbar-App/issues/100#issuec

[2021-12-22 18:59] JD-007 commented on #102
Wow!   Thanks mate!  it's working now,  I just copied that piece of code
with that exact line & edited it with the API on my own, Now it's all
working, though I was using the same line code still I was getting the same
error, it's working now all good!   I'll edit all the scripts & yea one
more thing!   For how long this API will work?  should I have to generate
again new API key once it has reach

[2021-12-22 19:04] chrislennon commented on #102
@JD-007 believe your API key itself will be valid 'forever' and wont need to regenerate it. however you will likely encounter the error again if you reach [their limits](https://min-api.cryptocompare.com/pricing)

[2021-12-22 19:12] JD-007 commented on #102
Yea sure!   If I reach the limits then I'll generate the NEW API again!   Thanks for your time mate!   have a nice day.

[2021-12-22 19:16] #102 closed, assigned to nobody

[2022-01-13 10:49] emmgr23 opened #104 "Unable to get data from API & no cache available !?"
hi, im trying to get some price on the notch bar, but instead of the price, I have this error message:

"Unable to get data from API & no cache available"
<img width="2050" alt="Screenshot 2022-01-13 at 10 38 18" src="https://user-images.githubusercontent.com/36758128/149316358-0901dbc9-f5eb-4915-9369-c396487186d4.png">

can you help me resolve this issue please ? ☺️

[2022-01-13 12:16] chrislennon commented on #104
Hey @emmgr23 thanks for reaching out. I can see you selected BTC, ETH and another one. Could you share the (FIAT) currency you are trying to convert to and I will look to reproduce this experience

[2022-01-13 12:21] emmgr23 commented on #104
thanks for the fast answer ☺️ I used your website and choose usd as fiat for the 4 crypto I added

`#!/usr/bin/python
# -*- coding: utf-8 -*-
import urllib2,json,sys

coin_ticker = "ETH" if "ETH"[0] != "{" else "BTC"
fiat_ticker = "USD" if "USD"[0] != "{" else "USD"
fiat_symbol = "$" if "$"[0] != "{" else  "$"
num_format = "{:0.2f}" if "{:0.2f}"[2:8] != "format" else  "{}"
mod_percent = float("0")

[2022-01-13 12:25] chrislennon commented on #104
Awesome! Thanks so much. If it's an issue of the notch/touch bar side itself I'll take a look into this in a few hours.

Just to double check it's not something else, do you see prices returned when you visit this URL directly?

https://min-api.cryptocompare.com/data/histohour?fsym=BTC&tsym=USD

[2022-01-13 17:40] emmgr23 commented on #104
yes i do see the price

[2022-01-13 18:30] emmgr23 commented on #104
on my side i tried to check, but i dont see where the problem is, and i dont have a mbp with touchbar, to see if its working fine on it. btw thank you for your time ☺️

[2022-01-13 19:41] chrislennon commented on #104
Hey @emmgr23 - appreciate the confirmation. So here's my take and a few things to try (also tagging @fifafu if he has any ideas). If you are able to access the API above and get data, its likely not a connection issue. I've also set up a few widgets on my notch bar and it seems to pull data fine, so its doesn't appear to be a code/template issue.

Thinking how to isolate this further, do you perha

[2022-01-13 22:38] emmgr23 commented on #104
ha yes i didnt see the result section before:
im sorry i dont understand much of what's happen here
`Traceback (most recent call last):
  File "<string>", line 22, in <module>
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/urllib2.py", line 154, in urlopen
    return opener.open(url, data, timeout)
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib

[2022-01-13 23:10] chrislennon commented on #104
Hmmmmmmmmm 🤔

Looks like part of the error got cut off, but I suspect it's something like

[code]

I am not sure why this could occur, I'll have a think and see if anything makes sense. I assume you have tried things like restarting your machine etc? 😅 (Not that I'm clutching at straws)

[2022-01-14 11:25] emmgr23 commented on #104
i think i found the bug
<img width="611" alt="Screenshot 2022-01-14 at 11 22 46" src="https://user-images.githubusercontent.com/36758128/149507765-a0b73d44-a59b-4613-9bd3-1379a124726c.png">
it was not enable by default, but better touch tool was still displaying the widget inside the notchbar but without internet access, and now everything work fine, sorry i lost your time for a stupid bug

[2022-01-14 12:05] emmgr23 commented on #104
i have a question for you , it is possible to color in red and green the little triangle , sorry i dont know python
`  if (raw_current > raw_opening):
            trend = "▲"
        else:
            trend = "▼"`

[2022-01-14 12:24] chrislennon commented on #104
Ah! Superb catch, I think it would be sensible for me to have it enabled by default, I'll have that added at some point soon(ish).

With regards to the colour of the arrows, I don't think this is possible unless @fifafu has any ideas. The python side just provides the output to better touch tool. The fonts (and their styles) are then handled by BTT itself. Unless we could add some identifying char

[2022-01-14 14:41] emmgr23 commented on #104
ok, im gonna have a look and ill let you know if i find something ☺️

[2022-01-14 14:50] fifafu commented on #104
The Notch Bar can display arbitrary HTML / CSS, but it's not yet enabled for the apple script / shell script widgets. Will be available with the next version.

Or maybe, I could update the Notch Bar template used in this project to output one of the new HTML/JS widgets, then we could get rid of the Python dependency and get all the power of HTML/CSS/JS rendering immediately. It should be very easy

[2022-01-14 16:53] chrislennon commented on #104
@fifafu this could be a massive improvement, it's always made me a tad uncomfortable invoking a sub process (be it pyhon or node or whatever) for these. If the notch (and touch bar) could render small pieces of html (with all the css/js magic) could really open up the interface side of things

[2022-01-17 21:53] emmgr23 commented on #104
hi, chris :) , is there a problem with the api today , because even your website seems to have a problem to get the data?

[2022-01-17 21:58] chrislennon commented on #104
Seems fine from my side - can always check it directly (using BTC -> USD as an example)

https://min-api.cryptocompare.com/data/histohour?fsym=BTC&tsym=USD

<img width="797" alt="Screenshot 2022-01-17 at 22 57 17" src="https://user-images.githubusercontent.com/9197696/149841106-2be3c83d-64e6-47f4-9ae8-60e3463c42f5.png">

[2022-01-17 22:34] emmgr23 commented on #104
ha sorry again, i didnt know i was limited with this api
<img width="558" alt="Screenshot 2022-01-17 at 22 33 00" src="https://user-images.githubusercontent.com/36758128/149844029-74265922-2968-43d8-9a6b-6d4b0abf0de2.png">

[2022-01-17 22:37] chrislennon commented on #104
yeah its a limitation of the API service that the extension makes use of. It's on an IP basis so you can check out issue #100 covers quite a lot of questions on this some resolutions too for example in [this comment](https://github.com/chrislennon/Crypto-Touchbar-App/issues/100#issuecomment-803731016)

[2022-01-29 17:04] fifafu opened #105 "Python 2.x removed from macOS 12.3, migrate to Java Script?"
Now that Apple has removed Python from the macOS 12.3 betas,  it might make sense to switch the templates to use Java Script widgets - so no third party binaries are needed.

I'm opening this issue to discuss whether this makes sense :-)

I did a quick proof of concept script that seems to work fine, but it currently lacks any customization options apart from the coins and the currencies:

[code]

[2022-01-30 09:55] chrislennon commented on #105
Hey, appreciate the heads up - I had no idea that had been removed. To be honest seems like a good enough reason as any to remove the python dependency.

Just to be clear the JS runs inside BTT so a user wouldn't need any nodejs installed etc?

Is there any version/limitations/spec/comparison on what's allowed inside the JS inside BTT?

[2022-01-30 09:57] fifafu commented on #105
yes it runs inside of BTT using the javascript core framework from Apple, it's available starting with 3.333 http://docs.folivora.ai/docs/1106_java_script.html

(maybe having a switch to keep python for older versions makes sense, but 3.333 was also released more than a year ago )

If we use the set_persistent_string_variable we also don't need a file based cache.

[2022-02-20 22:01] SemElVik opened #106 "KeyError: 'RAW'"
Traceback (most recent call last):
  File "<string*>", line 25, in <module*>
KeyError: 'RAW'

scrypt - [KeyErr.txt](https://github.com/chrislennon/Crypto-Touchbar-App/files/8105007/KeyErr.txt)

`12.2.1 (21D62) Monterey`

stopped working a couple of days ago.
I looked at the closed `issue`, but I'm not sure if I see a solution there

[2022-02-20 23:07] chrislennon commented on #106
Hey @SemElVik, you probably want to check out the conversation in #100 I think this error usually occurs when you are hitting CryptoCompare's API limits. There are some steps to check in that issue.

Let me know if you need any assistance

[2022-02-20 23:10] SemElVik commented on #106
if you are talking about it, then it does not help

![2022-02-21_02-09-21](https://user-images.githubusercontent.com/27207809/154868519-37322f58-4010-4c52-9f15-0d7b76ec4bcb.png)

[2022-02-20 23:17] chrislennon commented on #106
This comment should cover it, it looks like you need to include the apikey inside the "   " before the .format()

https://github.com/chrislennon/Crypto-Touchbar-App/issues/100#issuecomment-803731016

i.e.
[code]

[2022-02-20 23:21] SemElVik commented on #106
definitely not. I tried this too
![2022-02-21_02-18-50](https://user-images.githubusercontent.com/27207809/154868810-c7045b60-53ea-427d-8070-beffcb2569a7.png)
.

[2022-02-20 23:24] chrislennon commented on #106
That did actually fix it as you have another error (line 20 passed, new error is on line 22).

That error is python complaining that the indentation does not match the previous line.

I'm unsure what exactly changed but if you create a fresh export from the site and only modify the url line as you did, it should work.

[2022-02-20 23:26] SemElVik commented on #106
ok
thx

[2022-02-20 23:32] SemElVik commented on #106
yes it worked

thanks!

[2022-02-20 23:32] #106 closed, assigned to nobody

[2022-02-24 21:39] bottlebug opened #107 "Traceback error?"
Hi there. I've been using the Crypto Touch Bar for a few months now and suddenly I am getting this error.

`Traceback (most recent call last):
  File "<string>", line 25, in <module>
KeyError: 'RAW'`

[2022-02-24 21:43] chrislennon commented on #107
Hey @bottlebug - you may want to check out [this comment](https://github.com/chrislennon/Crypto-Touchbar-App/issues/100#issuecomment-803731016) on #100 - also very recently #106

Let me know if that fixes it/elaborates on the issue or if you have any other questions

[2022-03-24 20:06] #107 closed, assigned to nobody

[2022-03-30 13:33] akhiltaneja opened #108 "Widget Stopped Working with latest macOS Monterey 21E230"
Widget Stopped Working with latest macOS Monterey 21E230.

All I can see is abnormally expanded widgets with no price.

[2022-03-31 00:59] hifirestone commented on #108
This broke for me when upgrading from macOS Monterey 12.0.1 to 12.3.

I don't know much about this but i think it has something to do with the fact that it needs to be updated to use Python3 in Monterey which, [according to this page](https://docs.python.org/3/whatsnew/3.0.html):

The error the script returns when run after setting the launch path to `/usr/bin/python3` is:

Not actually knowing py

[2022-03-31 19:56] chrislennon commented on #108
Thanks @akhiltaneja & @hifirestone - I knew the day would finally come 😢

We were talking about switching over to a non python execution based system for two reasons, as you note - finally deprecating 2.x and additionally python doesn't ship without additional downloads etc now.

I'll see what I can do to make it 3.x compatible (though backwards compatibility might be.... 'fun').

The longterm fix

[2022-03-31 19:58] fifafu commented on #108
I think I'll be create a merge request for the JS implementation next week. I have been running it on my machine for the last two months and it's stable :-)

If necessary I think installing Python 2.x is still easily possible https://stackoverflow.com/a/71592278

[2022-03-31 20:04] chrislennon commented on #108
I'll see whats needed to keep the fallback of python2 with a fall 'forward' to v3 in the mean time, if I recall, its just templating on the python side so I should in theory just be able to do a quick switcheroo

[2022-03-31 20:56] chrislennon commented on #108
hey again @akhiltaneja & @hifirestone  - I just pushed a quick hot fix which may workaround this for now. Added a new template and python selection for 2/3.

Let me know if it helps until we have a better route forward for this.

[2022-03-31 21:36] akhiltaneja commented on #108
Hey, Thanks, @chrislennon I tried the new Python 3 implementation, But unfortunately, the issue persists.

[2022-03-31 21:39] chrislennon commented on #108
@akhiltaneja Do you happen to have an error or output (maybe running it directly from inside BTT?) for me to work with. All the 2.x references should be gone from @hifirestone's comment, just want to check you aren't running into something like #100 or another unrelated issue.

[2022-03-31 21:46] akhiltaneja commented on #108
It is showing something like this SC:
<img width="415" alt="image" src="https://user-images.githubusercontent.com/14196666/161154543-6392aba5-16e9-48eb-a160-e10625e848c9.png">

[2022-03-31 21:51] chrislennon commented on #108
Very curious, I don't seem to be able to see any error, is there anything in the 'result' section when you click 'run script' inside BTT?

<img width="1399" alt="Screenshot 2022-03-31 at 22 48 37" src="https://user-images.githubusercontent.com/9197696/161155341-eb198b53-e6ad-4344-b548-c135d5ac8d3d.png">

[2022-03-31 21:56] hifirestone commented on #108
@chrislennon I really don't want to speak out of turn here as I'm no expert but are you also running macOS 12.3? Apple has deprecated Python 2 entirely and I do not even have it located in my /usr/bin directory anymore. Only python3 is now there.

<img width="726" alt="Screen Shot 2022-03-31 at 16 55 43" src="https://user-images.githubusercontent.com/51712046/161155857-4f0b35f6-bcd8-416c-85c5-ad41

[2022-03-31 22:09] chrislennon commented on #108
Hey @hifirestone - I'm not actually running 12.3 but I have both versions of python to check on. I'm using two outputs (generated from the site and saved as a file by copying the code from inside BTT) and running `/usr/bin/python` for the v2 and `/usr/bin/python3` for the v3 one.

Have you tried exporting a new python v3 one from [the site](https://chrislennon.github.io/Crypto-Touchbar-App/)? I'm

[2022-03-31 23:13] hifirestone commented on #108
Without changing the launch path:
launch path not accessible
(
	0   CoreFoundation                      0x0000000181fdeb08 __exceptionPreprocess + 240
	1   libobjc.A.dylib                     0x0000000181d29e14 objc_exception_throw + 60
	2   Foundation                          0x0000000182ebbecc -[NSConcreteTask launchWithDictionary:error:] + 4608
	3   BetterTouchToolShellScriptRunner    0x0000000

[2022-03-31 23:16] chrislennon commented on #108
@hifirestone Did you try a new export from [the website](https://chrislennon.github.io/Crypto-Touchbar-App/) I uploaded a couple of hours ago? you will need to select python 3 from the new dropdown, all these errors/warnings should be fixed 🤞

[2022-03-31 23:53] hifirestone commented on #108
Sorry about that, I hadn't. That webpage's workflow is very helpful, thanks.

However when I import there is no default action in the trigger when adding it via JSON or direct import to BTT. Shouldn't there be an "Execute Shell Script/Task" action?

I am not able to see the code to run the script. Am I simply missing a step?

I've added the Execute Shell Script/Task action and copied the code from

[2022-04-01 00:26] chrislennon commented on #108
@hifirestone the files in `https://github.com/chrislennon/Crypto-Touchbar-App/blob/master/templates/...` are just templates they won't directly work when added as a script inside BTT. Though if you wanted to try this you should use crypto_price3.py for the python3 stuff.

I think you are right the code only runs on time interval (not when initially shown/executed) - think this has been a long stan

[2022-04-01 00:45] chrislennon commented on #108
@akhiltaneja @hifirestone  - think I realised what was missed, needed to change it in one more place (see above).

You should be able to generate from the site again and the launch path should now reflect /usr/bin/python3 (and not just in the scripts shebang - oooooops 😅 )

[2022-04-01 00:55] akhiltaneja commented on #108
I did it again, now it shows "xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun"

[2022-04-01 01:10] chrislennon commented on #108
Thanks for checking @akhiltaneja - this looks like it's trying to install python3 and wanting to use the developer tools to do so.

May want to check out this https://apple.stackexchange.com/a/254381

You will likely want to run `/usr/bin/python3` in the terminal once to check it's working after it's there

I hate how Apple has changed this 🥲

We'll be moving away from python at some point but ins

[2022-04-01 13:59] hifirestone commented on #108
@chrislennon It appears to be working just fine now! As to your point about not running until the time interval is met, there's a button I just noticed that is off by default after import:
<img width="407" alt="Screen Shot 2022-04-01 at 08 57 54" src="https://user-images.githubusercontent.com/51712046/161278298-bde7c133-6019-4113-b0b6-43ccecbc6f56.png">

Once this is checked, the script runs immed

[2022-04-03 14:00] chrislennon commented on #108
Added the defaulting to run when first visible just now.

Will close this out just now but do let me know if you see any bugs or improvements. We'll continue to figure out a better route for removing the python dependancy entirely.

[2022-04-03 14:00] #108 closed, assigned to nobody

[2022-06-11 00:57] FilipeNas opened #109 "Possibility to add stocks?"
Use the same app to maps stock tickers?
Its very difficult to do?

[2022-10-30 19:34] akhiltaneja opened #110 "Tool broken on Macos Ventura"
The tools stopped working on macOS Ventura. Can we expect a fix soon?

[2022-10-30 20:05] chrislennon commented on #110
Hey @akhiltaneja what exactly is the issue/error you are experiencing? Some output from running the script manually in BTT would be helpful.

I suspect that the biggest change that has happened between OS versions is that python isn't installed by default these days if i recall correctly.

[2022-10-30 23:20] akhiltaneja commented on #110
I have imported the Pyton 3 Version of this plugin.
I have already installed the latest python on my macOS machine.
This is the error I am getting, SC below.
![IMG_6175](https://user-images.githubusercontent.com/14196666/198906812-e4fa948f-4bae-4a28-84a4-ffb28f74605d.JPG)

[2022-10-31 11:02] chrislennon commented on #110
I believe the small python script that gathers the prices runs by using python located in `usr/bin/python` is it possible you have python installed elsewhere?

Additionally if my suspicion is correct you may be able to re-enable the python links that Mac used to provide natively with `xcode-select --install` to install the cli tools once again.

Let me know if that assists